@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.hblock {
    padding: 10px 10px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
}

.photo {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.photo .actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}

#container {
  width: 75%;
  margin: 0 auto;
  padding: 20px 40px;  
}