<%= form_for(@bus, :html => { :multipart => true }) do |f| %>
<% if @bus.errors.any? %>
<div id="error_explanation">
  <h2>Невозможно сохранить</h2>

  <ul>
    <% @bus.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <div class="hblock">
    <div class="field">
      <%= f.label "Наименование" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Гос номер" %><br>
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="hblock">
    <div class="field">
      <%= f.label "ПТС" %><br>
      <%= f.text_field :pts %>
    </div>
    <div class="field">
      <%= f.label "Дата ПТС" %><br>
      <%= f.date_select :pts_date %>
    </div>
  </div>
  <div class="clear"></div>
</div>


<%= f.fields_for([ @bus, @bus.photos.build ]) do |p| %>
<div class="field">
  <%= f.label "Фотографии" %><br>
  <%= p.file_field :image, :multiple => true, name: "photos[image][]" %>
</div>
<% end %>

<div class="actions">
  <%= f.submit "Сохранить" %>
</div>
<% end %>