<h1>Редактирование</h1>

<%= render 'form' %>

<div id="photos">
    <% for photo in @bus.photos %>
        <% if photo.id %>
            <div class="photo">
                <a href="<%= photo.image_url %>">
                    <%= image_tag photo.image_url(:thumb) if photo.image? %>        
                </a>
                <div class="actions">
                    <%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Вы уверены?' } %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>