<p id="notice"><%= notice %></p>

<h1>Список автобусов</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Наименование</th>
        <th>Гос. номер</th>
        <th>ПТС</th>
        <th>Дата ПТС</th>
        <th>Фото</th>
        <th><%= link_to 'Новый', new_bus_path, :class => "btn btn-primary" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @buses.each do |bus| %>
        <tr>
          <td><%= bus.id %></td>
          <td><%= bus.name %></td>
          <td><%= bus.number %></td>
          <td><%= bus.pts %></td>
          <td><%= bus.pts_date %></td>
          <td><%= "\u2713" if bus.photos.count > 0 %></td>
          <td><%= link_to 'Редактировать', edit_bus_path(bus), :class => "btn btn-info" %></td>
          <td><%= link_to 'Удалить', bus, method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-danger" %></td>
        </tr>
      <% end %>      
    </tbody>
  </table>
  <p>
        <td>Всего: <%= Bus.count %></td>
    </p>
</div>