<!DOCTYPE html>
<html>
<head>
  <title>Busfer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <strong><%= link_to 'Домой', root_path %></strong>
        <hr>
        <%= yield %>
    </div>
</body>
</html>
